:root {
  --overlay: #daac00;
  --sky-blue: #00bec9;
  --primary-yellow-bg: #fcc302;
  --secondary-yellow-bg: #daac00;
  --primary-dark-bg: #343434;
  --primary-text-color: #ffffff;
  --secondary-text-color: #313243;
}

/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Geneva, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  /* font-weight: bold; */
  color: #fff;
}

button.blue {
  background-color: var(--sky-blue);
}

button.yellow {
  background-color: var(--primary-yellow-bg);
}

button.trans-bg {
  padding: 0.7rem 1rem;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1.1em;
  /* font-weight: bold; */
  color: #fff;
}

/* Container */
.container {
  width: 100%;
  background-color: #e7e6e6;
}

/* Navbar */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6.5rem;
  background-color: var(--secondary-yellow-bg);
}

/* nav .logo img {
    width: 80%;
} */

nav ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

nav ul li a {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--primary-text-color);
}

nav .search-bar {
  display: flex;
  width: 250px;
  height: 50px;
  overflow: hidden;
  border: 1px solid #fff;
}

nav .search-bar input {
  width: 70%;
  height: 50px;
  padding: 10px;
  border: none;
}

nav .search-bar input:focus {
  outline: none;
}

nav .search-bar .search-icon {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--sky-blue);
}

/* Hero Section */
section.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10rem; */
  padding: 0 6.5rem;
  background-color: var(--primary-yellow-bg);
  color: var(--primary-text-color);
}

section.hero-section .right h1 {
  font-size: 3em;
  padding-right: 4rem;
}

section.hero-section .right {
  width: 50%;
}

section.hero-section .right p {
  margin: 3rem 0;
  font-size: 1.4em;
  text-align: justify;
  line-height: 30px;
}

section.hero-section .right .buttons {
  display: flex;
  gap: 1.5rem;
}

section.hero-section .left img {
  width: 330px;
}

/* Video section 1 */
section.video-section {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* overflow: hidden; */
  padding: 1rem 6.5rem;
}

section.video-section .left h1 {
  font-size: 3.5em;
  padding-right: 5rem;
}

section.video-section .left p {
  margin: 2rem 0;
  width: 75%;
  font-size: 1.5em;
}

.video-section .right {
  position: relative;
}

.video-section .right .overlay {
  width: 350px;
  height: 332px;
  background-color: var(--overlay);
  position: absolute;
  z-index: 101;
  opacity: 0.7;
}

.video-section .right .video {
  width: 350px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.video-section .right .video .video-thumbnail {
  width: 100%;
  position: absolute;
  z-index: 100;
}

.video-section .right .video .play-button {
  position: absolute;
  left: 40%;
  top: 35%;
  z-index: 102;
  cursor: pointer;
}

.video-section .right .square {
  width: 150px;
  height: 150px;
  background-color: var(--primary-yellow-bg);
  position: absolute;
  bottom: -5px;
  left: -25px;
  z-index: 10;
}

/* Section Three | Cards */

.section-three {
  width: 100%;
  /* height: 100vh; */
  padding: 1rem 6.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  background-color: var(--primary-yellow-bg);
}

.section-three .title h1 {
    margin: 5rem 0 1rem 0;
    font-size: 3.5em;
}

.section-three .title p {
    font-size: 1.5em;
    margin-bottom: 5rem;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 4px;
}

.section-three .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-three .card img {
    width: 350px;
    border: 5px solid #fff;
}
.section-three .card {
    width: 350px;
}


.section-three .card h2 {
    margin: 1.5rem 0;
    font-size: 2.5em;
}

.section-three .card p {
    margin-bottom: 5rem;
    font-size: 1.4em;
    padding: 0 1rem;
}
.section-three .card:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* section four | video section */

.section-four.video-section{
  width: 100%;
  justify-content: space-between;
}

.section-four .right {
  order: 1;
}

.section-four .left{
  order: 2;
  padding-left: 9rem;
}

/* section five */
span.price-line-through{
  text-decoration: line-through;
}

.section-three.five button {
  border-radius: 25px;
  margin-bottom: 5rem;
}

.section-six {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6.5rem;
}
.section-six h1 {
  font-size: 3em;
  margin: 5rem 0 1rem 0;
}

.section-six p {
  font-size: 1.5em;
  letter-spacing: 2px;
  text-align: center;
  width: 50%;
}

.section-six .cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-six .card h3 {
  font-size: 1.5em;
  margin: 0.5rem 0;
}
.section-six .card p {
  margin-bottom: 3rem;
}
.section-six .card img {
  margin-top: 3.5rem;
  width: 250px;
}

/* Section Seven */
.section-seven {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6.5rem;
  background-image: url(./assets/bg-1.jpg);
  position: relative;
  z-index: 2;
}

.section-seven .overlay {
  z-index: 1;
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  background: #ffae00;
}

.section-seven .number-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-text-color);
  z-index: 3;
}

.section-seven .number-card p {
  font-size: 1.5em;
  margin: 1rem 0;
}

.section-seven .number-card h2 {
  font-size: 2em;
}


/* section eight */

.section-eight {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 6.5rem;
  padding-bottom: 3rem;
}

.section-eight h1 {
  font-size: 3.5em;
  margin: 6rem 0 2rem 0;
}

.section-eight p.para {
  font-size: 1.5em;
  width: 50%;
  text-align: center;
  margin-bottom: 5rem;
}

.section-eight .cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-eight .card {
  width: 350px;
  height:565px;
  margin-bottom: 3rem;
  cursor: pointer;
}

.section-eight .card:hover {
  opacity: 0.8;
}

.section-eight .card .post {
  border: 1px solid blue;
  border-top: none;
  box-shadow: 5px 5px 10px -5px blue;
  padding: 1rem 1.5rem;
}

.section-eight .card h2 {
  margin: 0.5rem 0;
}

.section-eight .card span.date {
  color: #0000ff;
  margin: 0 0 1rem 0;
  display: block;
}

.section-eight .card .post p {
  margin: 0.5rem 0;
  border-left: 2px solid rgb(160, 159, 159); 
  padding-left: 10px;
}

.section-eight .card .post a {
  display: block;
  margin-top: 0.7rem;
  color: rgb(0, 0, 255);
}
.section-eight img {
  width: 350px;
}


/* Footer */

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-dark-bg);
  padding: 6.5rem;
  color: #fff;
}
footer a {
  color: #fff;
}


footer .cta {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

footer .newsletter {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: end;
}

footer .newsletter h1 {
  font-size: 2.5em;
}

footer .newsletter p {
  margin: 1rem 0;
  font-size: 1.2em;
}

footer .input {
  display: flex;
  /* align-items: center; */
  margin: 1rem 0;
  width: 40%;
  height: 50px;
  border: 1px solid #fff;
}

footer .input input {
  width: 70%;
  padding: 5px;
  border: none;
}

footer .input input:focus {
  outline: none;
}


footer .input a {
  width: 30%;
  background: #0000ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
}

footer .newsletter .social-media {
  margin: 1rem 0;
}

footer .newsletter .social-media img {
  width: 40px;
  cursor: pointer;
  margin-right: 0.5rem;
}

footer h2 {
  font-size: 1.7em;
}

footer ul li {
  margin: 1.3rem 0;
  font-size: 1.1em;
}